<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Predictive monitoring frontend</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">
   
    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jumbotron-narrow.css') }}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='ie-emulation-modes-warning.js') }}"></script>


   <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>


   <script src="{{ url_for('static', filename='node_modules/jquery-zoom/jquery.zoom.min.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Main page</a></li>
            <li role="presentation" class="active"><a href="/hows">Time based analysis</a></li>
            <li role="presentation"><a href="/predictions">Predictions</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Predictive monitoring frontend</h3>
      </div>

      <div id="jumbotron_disp" class="jumbotron_disp">
        {% if first_graph is none %}
           <h1>There is none graph plotted already, wait!</h1>
           <p class="lead">... or check configuration, something is maybe wrong.</p>
        {% else %}
           <h1><a href="{{ url_for('static', filename='hows/' + first_graph['png_file'])}}">{{ first_graph['name'] | replace("_", " ") }}</a></h1>
           <div id="image_disp">
             <img id="img" src="{{ url_for('static', filename='hows/' + first_graph['png_file'])}}">
           </div>
        {% endif %}
      </div>
      <footer class="footer">
        <p> Refresh in: <span id="counter"><span style="color: blue;">30</span></span> stop counter by hover over graph</p>
      </footer>
       <div class="row marketing">
        <div class="col-lg-6">
          <ul>
            {% for graph in graphs_one %}
             <li><a href="{{ url_for('hows') }}?file={{ graph['png_file'] }}">{{ graph['name'] }}</a></li>
            {% endfor %}
           <ul>
         </div>
        <div class="col-lg-6">
          <ul>
            {% for graph in graphs_two %}
             <li><a href="{{ url_for('hows') }}?file={{ graph['png_file'] }}">{{ graph['name'] }}</a></li>
            {% endfor %}
           <ul>
         </div>
       </div>

    </div> <!-- /container -->
    <script>
var width = 0;
var height = 0;
{% if first_graph is not none %}

var original_div_w = $('#image_disp').width();
var original_div_h = $('#image_disp').height();


var newimage = new Image();
newimage.src = "{{ url_for('static', filename='hows/' + first_graph['png_file'])}}"; 

newimage.onload = function()
{
    width = this.naturalWidth;
    height = this.naturalHeight;
    console.log(width);
    console.log($('#image_disp').width());
    console.log(height);
    console.log($('#image_disp').height());

    if (width > $('#image_disp').width() || height > $('#image_disp').height()){
      $(document).ready(function(){
        $('#image_disp').zoom();
      });
    }
    if (width < $('#image_disp').width() && height < $('#image_disp').height()){
      $('#img').css({ 'height' : this.naturalHeight + "px" })
      $('#img').css({ 'width' : this.naturalWidth + "px" });
    }
}

{% endif %}

var timer = null;
var counter = 30;
function startSetInterval() {
    timer = setInterval(function(){
      if (counter <= 10){
        $("#counter").html("<span style=\"color: red;\">" + counter + "</span>");
      }else{
        $("#counter").html("<span style=\"color: blue;\">" + counter + "</span>");
      }
      if(counter == 0){
        location.replace("/hows");
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        window.location.replace(baseUrl);
      }
      counter = counter - 1;
    }, 1000);
}

startSetInterval();

$('#jumbotron_disp').hover(function() {
  clearInterval(timer);
  $("#counter").html("<span style=\"color: blue;\">30</span>");
  counter = 30;
},function() {
  startSetInterval();
});
    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
