<!DOCTYPE html>
<html lang="en">
  <!-- source: https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/# -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Predictive monitoring frontend</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">
   
    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jumbotron-narrow.css') }}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Main page</a></li>
            <li role="presentation"><a href="/hows">Time based analysis</a></li>
            <li role="presentation"><a href="/predictions">Predictions</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Predictive monitoring frontend</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">This is a frontpage of frontend of predictive monitoring theses application. It provides you with basic two functionallities. Get to time based analysis to see some chart generated in dot to see how is your topology doing. Prediction tab gives you prediction charts.</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Usage</h4>
          <p>This is just a fronend, it starts with containers or from manual deployment. You should read howto on howto setup this app.</p>

          <h4>Affiliation</h4>
          <p>Whole project is part of final master theses. You should read the paper at CTU library. Supervisor is Ing. Tomáš Vondra with opponent Ing. Tomáš Šabata.</p>
        </div>

        <div class="col-lg-6">
          <h4>Thesis</h4>
          <p>Whole application is part of following thesis: Early Warning about Problems in Information System Infrastructure.</p>

          <h4>Author</h4>
          <p>Author (me) Martin Beránek <a href="mailto: martin.beranek112@gmail.com">email</a></p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2017 Martin Beránek -- FIT CTU</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
