

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Predictive monitoring frontend</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">
   
    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='jumbotron-narrow.css') }}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='ie-emulation-modes-warning.js') }}"></script>


   <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>

   <!-- jquery.zoom.min.js -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Main page</a></li>
            <li role="presentation"><a href="/hows">Time based analysis</a></li>
            <li role="presentation" class="active"><a href="/predictions">Predictions</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Predictive monitoring frontend</h3>
      </div>

      <div id="jumbotron_disp" class="jumbotron_disp">
        {% if first_graph is none %}
           <h1>Select data item to see prediction!</h1>
           <p class="lead">... if there is non check configuration, something is maybe wrong.</p>
        {% else %}
          <div id="all">
            <div id="left">
              <a href="{{ url_for('static', filename='classify/' + first_graph)}}">
                <img src="{{ url_for('static', filename='classify/' + first_graph)}}">
              </a>
            </div>
            <div id="right">
              <p>
              {% for timestamp in timestamps %}
                <a href="{{ url_for('predictions') }}?hostname={{ hostname }}&service={{ service }}&timestamp={{ timestamp }}">{{ timestamp }}</a> 
              {% endfor %}      
              </p>  
            </div>
          </div>
        {% endif %}
      </div>
      <footer class="footer">
        <p> Refresh in: <span id="counter"><span style="color: blue;">30</span></span> stop counter by hover over graph</p>
      </footer>

      <ul>
      {% for hostname, value in graphs.items() %}
          <li>Hostname: {{ hostname }}</li>
          <ul>
            {% for service, inner_list in value.items() %}
              <li><a href="{{ url_for('predictions') }}?hostname={{ hostname }}&service={{ service }}">{{service | replace("_", " ") | replace("+", "/") }} </a></li> 
            {% endfor %}
          </ul>
      {% endfor %}
      <ul>

      <footer class="footer">
        <p>&copy; 2017 Martin Beránek -- FIT CTU</p>
      </footer>

    </div> <!-- /container -->
    <script>


function getParameterByName(name) {
    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
}

var timer = null;
var counter = 30;

function startSetInterval(){
    timer = setInterval(function(){
      if (counter <= 10){
        $("#counter").html("<span style=\"color: red;\">" + counter + "</span>");
      }else{
        $("#counter").html("<span style=\"color: blue;\">" + counter + "</span>");
      }
      if(counter == 0){
        location.replace("/predictions");
        var getUrl = window.location;

        var hostname = getParameterByName("hostname");
        var service = getParameterByName("service");
        if (hostname != null && service != null){
          var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1] + "?hostname=" + hostname + "&" + "service=" + service;
        }else{
          var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        }
        window.location.replace(baseUrl);
      }
      counter = counter - 1;
    }, 1000);
}

startSetInterval();

$('#jumbotron_disp').hover(function() {
  clearInterval(timer);
  $("#counter").html("<span style=\"color: blue;\">30</span>");
  counter = 30;
},function() {
  startSetInterval();
});
    </script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
